
body {
  background: #f4ebd1 !important;
  color: #362c28;
  font-family: Montserrat, Arial, sans-serif;
}

/* .body-bg {
  background: #F3F4FA !important;
} */

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

/* body {
  background: linear-gradient(45deg,#3a3a60,#5f5f8e);
  min-height: 100vh;
} */

.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  background-color: #2B2D3E;
  padding: 25px 20px;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
}

.sparkboxes .box .details {
  position: absolute;
  color: #fff;
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.black-cofee-color{
  color: #362c28 !important;
}

.black-cofee-background{
  background-color: #362c28 !important;
}

.egg-shell-color{
  color: #f4ebd1 !important;
}

.egg-shell-background{
  background-color: #f4ebd1 !important;
}

.middle-red-color{
  color: #e38d72 !important;
}

.box-graph-container{
  border: #362c28 solid 2px;
}

.middle-red-background{
  background-color: #e38d72 !important;
}


.sparkboxes .box1 {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}
